@using System.Text.Json
@using Happy_Marriage.Models
@{
    User user = null;
    string jsonuser = Context.Session.GetString("user");
    if (jsonuser != null)
    {
        user = JsonSerializer.Deserialize<User>(jsonuser);
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Happy_Marriage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Happy_Marriage.styles.css" asp-append-version="true" />
    @*My Additions*@
    <!-- Google Fonts -->
    <link rel="stylesheet" href="~/css/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/lib/glightbox/css/glightbox.min.css" />
    <link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/Home.css"/>
    <link rel="stylesheet" href="~/css/Messenger.css" />
    <link rel="stylesheet" href="~/css/ProfilePage.css" />
    <link rel="stylesheet" href="~/css/SASS.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ResponsiveSidebar.css" />
    <link rel="stylesheet" href="~/css/Account.css" />
    
    
</head>
@*NAV BAR DEFAULT BY THEME*@
<body>
    @if (user != null)
    {
    
        <div>
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="ProfilePage" asp-action="Index">Happy_Marriage</a>
                        @*For Responsive Sidebar*@
                        <button type="button" asp-area="" id="sidebarCollapse" class="btn btn-dark"><span>Sidebar</span></button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                @*<li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>*@
                            </ul>
                            <ul class="navbar-nav flex-grow">

                                @if (user == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="Identity" asp-controller="Auth" asp-action="Login">Login</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="Identity" asp-controller="ProfilePage" asp-action="MyProfile">@user.UserName</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="Identity" asp-controller="Auth" asp-action="LogOut">Log Out</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </nav>
                
                
            </header>
        </div>
        
    }

    <div>
        <main role="main">
            @if (user != null)
            {
                <div class="wrapper">

                    @Html.Partial("ResponsiveSidebar.cshtml")

                    <div id="content" class="container-fluid">
                        @RenderBody()
                    </div>

                </div>

            }
            else
            {
                <div>
                    @RenderBody()
                </div>
            }
            
        </main>
    </div>
            

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
        <script type="text/javascript">

            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $('#content').toggleClass('active');
                });
                
            });


        </script>
    
    
    
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>