@using Happy_Marriage.Models
@using Happy_Marriage.Services
@{
    List<User_Address_Info> listuai = ViewData["listuai"] as List<User_Address_Info>;

}
<h3>Address Info</h3>
@if (listuai != null)
{
    <table class="table table-hover">
        @foreach(User_Address_Info uai in listuai){
            <tr><td>Country</td><td>@uai.Country</td></tr>
            <tr><td>State</td><td>@uai.State</td></tr>
            <tr><td>District</td><td>@uai.District</td></tr>
            <tr><td>City</td><td>@uai.City</td></tr>
            <tr><td>Pin Code</td><td>@uai.PinCode</td></tr>
            <tr><td>Address Line 2</td><td>@uai.AddressLine2</td></tr>
            <tr><td>Address Line 1</td><td>@uai.AddressLine1</td></tr>
        }
    </table>
    <a href="/Auth/AddressDetailsForm/" class="btn-get-started">Complete Address Info</a>
}
else
{
    <div>
        <a href="/Auth/AddressDetailsForm/" class="btn-get-started">Complete Address Info</a>
    </div>
}
